extends ../template/navbar

block content
    div#details.detailsedt.invisible
        p.eventName
        p.eventLocation
        p.eventTeacher
        p.eventTarget
        p.eventTime
        p.eventUE

    div
        table#edttable
            thead
                th Monday
                th Tuesday
                th Wednesday
                th Thursday
                th Friday
            tbody
                - for (let i = 0; i < 5; i++)
                    tr
                    - for (let j = 0; j < 5; j++)
                        td(id=`${i}${j}`)
                            p.eventName
                            p.eventLocation

        div#edtweek.row
            div(class="col s3 offset-s1")
                i#previous(class="large material-icons") fast_rewind
            div(class="col s4")
                h3#date
            div(class="col s3")
                i#next(class="large material-icons") fast_forward

        div#marksdetailsbackground.invisible
    script#removeMe.
        let groups = !{JSON.stringify(session.user.Groups)};
        document.getElementById("removeMe").remove();
    script(src="/javascripts/edt.js")
