extends ../template/navbar

block content
    h1(id="welcome")="Welcome Back " + session.user.firstName + "!"
    div(class="row home")
        if !admin
            div(class="col s12 m6" id="filactu")
                div(class="col s10 offset-s1 actuflex")
                    div(class="actuhead")
                        p News feed
                    div(class="actucontent")
                        div
                            p Nouvelle note :
                            p 18/20 Anglais
                        div
                            p Maths
                            p S26
                        div
                            p Maths
                            p S26
                        div
                            p Maths
                            p S26
            div#edtjour(class="col s12 m6")
                div.edtflex(class="col s10 offset-s1")
                    div.edthead
                        p Time Schedule
                    - for (let i = 0; i < 5; i++)
                        div(style="min-height: 10vh" id=i)
                            p.eventName
                            p.eventLocation
    script#removeMe.
        let groups = !{JSON.stringify(session.user.Groups)};
        document.getElementById("removeMe").remove();
    script(src="/javascripts/home.js")