extends ../template/layout

block content
    div(class='row main-form')
      div(class='col s12 m8 offset-m2 signinup z-depth-5' id="signin")
          h2 Welcome back
          form#login
            div(class="input-field col s12")
              i(class="material-icons prefix") mail
              input(type="text" id="mail-input" class="autocomplete")
              label(for="mail-input") Email

            div(class="input-field col s12")
              i(class="material-icons prefix") lock
              input(type="password" id="password-input" class="autocomplete")
              label(for="password-input") Password

            input(type='submit' value='Login')
            a(class="notregister" href="register") Not registered ?



      div(class='col s12 m8 offset-m2 signinup z-depth-5 invisible' id="forgotPsw")
        h2 Forgot password
        form
          div(class="input-field col s12")
            i(class="material-icons prefix") mail
            input(type="text" id="mailforgot-input" class="autocomplete")
            label(for="mailforgot-input") Email

          input(type='submit' value='Send email')

    script(src="/javascripts/login.js")
