extends ../template/navbar

block content
    if student
        div.row
            div#marksdetails.invisible.col.s12.m8.l6.offset-m2.offset-l3
                table
                    tr
                        th(colspan="2") Details
                    tr
                        td(colspan="2")#dsName
                    tr
                        td Node :
                        td#dsMarks
                    tr
                        td Commentaire :
                        td#dsComment


        div#marksrow
            div#evaluationTemplate.invisible(class="col s12 m6 l4")
                p.evaluationName
                div.grades.flex-container-marks
                    div#gradeTemplate.marksCursorPointer.invisible
                        p.gradeName
                        p.gradeMark
                        p.gradeComment


        div#marksdetailsbackground.invisible
        script(src="/javascripts/marks-student.js")

    else
        form.row#formteachermarks
            h1 Select a group and an evaluation
            div.input-field.col.s12.m6
                label(for="group") Group:
                select#group(name="group")
                    option(selected disabled)
                    for group in session.user.Groups
                        option(value=group.id)=group.displayName

            div.input-field.col.s12.m6
                label(for="evaluation") Evaluation :
                select#evaluation(name="evaluation")
                    option(selected disabled)

        form#marksform
            table#markstable
                thead
                    tr
                        th Student
                        th.evaluationName
                tbody
                    tr#studentTemplate(style="display: none")
                        td.studentName
                        td
                            input.gradeScore(type="number")
            input#marksubmit(type="submit" value="Save")
        script(src="/javascripts/marks-teacher.js")
