extends ../template/navbar

block content
    .row
        h1 Edit your profile
        form.col.s12#editprofil
            .row
                div(class="input-field col s6")
                    i(class="material-icons prefix") portrait
                    input(type="text" id="firstname-input" class="autocomplete")
                    label(for="firstname-input") First Name

                div(class="input-field col s6")
                    input(type="text" id="lastname-input" class="autocomplete")
                    label(for="lastname-input") Last Name

                div(class="input-field col s12")
                    i(class="material-icons prefix") lock
                    input(type="password" id="new-password" class="autocomplete")
                    label(for="new-password") New password

                div(class="input-field col s12")
                    i(class="material-icons prefix") lock
                    input(type="password" id="password" class="autocomplete")
                    label(for="password") Current password

                input(type='submit' value='Save')