extends ../template/layout

block content
        div(class='row main-form')
            div(class='col s12 m8 offset-m2 signinup z-depth-5' id="signup")
                h2 Welcome
                form#register
                    div(class="input-field col s6")
                        i(class="material-icons prefix") portrait
                        input(type="text" id="firstname-input" class="autocomplete")
                        label(for="firstname-input") First Name

                    div(class="input-field col s6")
                        input(type="text" id="lastname-input" class="autocomplete")
                        label(for="lastname-input") Last Name

                    div(class="input-field col s12")
                        i(class="material-icons prefix") mail
                        input(type="text" id="mailreg-input" class="autocomplete")
                        label(for="mailreg-input") Email

                    div(class="input-field col s12")
                        i(class="material-icons prefix") lock
                        input(type="password" id="passwordreg-input" class="autocomplete")
                        label(for="passwordreg-input") Password

                    input(type='submit' value='Register')
                    a(class="alreadyregister" href="login") Already registered ?

        script(src="/javascripts/register.js")
