extends ../template/navbar

block content
    div.managesub#visibl
        p.topicname Tick the topics you would like to see in your news feed
        form
            p
                label
                    input.filled-in(type='checkbox' checked='checked')
                    span Absences
            p
                label
                    input.filled-in(type='checkbox' checked='checked')
                    span Events

            p
                label
                    input.filled-in(type='checkbox' checked='checked')
                    span Property Lost

            p
                label
                    input.filled-in(type='checkbox' checked='checked')
                    span Marks

            p
                input(type='submit' value="Submit")

    div
        div.row
            if student
                div.col.s12.m6#absences
                    div.abshead
                        p Absences
                    div.abscont
                        p Absent le 14/03 de 16h à 18h
                        p Absent le 15/03 de 16h à 18h
                        p Absent le 16/03 de 16h à 18h

                div.col.s12.m6
                    button.abogest Manage your subscriptions

            if !student
                div.col.s12
                    button.abogest Add an absence

        div.row#btmviescol
            div.col.s12.m6#events
                div.eventhead
                    p Events
                div.eventcont
                    p Repas raclette organisé par le BDE le 24/02 à 12H30 en S26

            div.col.s12.m6#objtrouv
                div.objtrouvhead
                    p Lost Property
                div.objtrouvcont
                    p Ordinateur HP trouvé retourné au secrétariat



