doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="icon" type="image/png" href="/images/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/main.js")
  body
    -
      var student = false, teacher = false, admin = false;
      if (session.user) {
        switch (session.user.permissions) {
          case 1:
            student = true;
            break;
          case 2:
            teacher = true;
            break;
          case 3:
            admin = true;
        }
      }
    div(class="row" id="page")
      block navbar
      div(class="col s12" id="main")
        block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
  script.
    M.AutoInit();
