extends layout

block navbar
    ul#slide-out.sidenav
        if student
            li
                .user-view.student
                    p
                        span.white-text.name=session.user.firstName + " " + session.user.lastName
                    p
                        if session.user.Groups[session.user.Groups.length-1]
                                span.white-text.name=session.user.Groups[session.user.Groups.length-1].displayName
                    p
                        span.white-text.email=session.user.email
                    a#logout
                        span.white-text Logout

            li
                a(href="/" class="waves-effect") Home
            li
                a(href="/edt" class="waves-effect") Planning
            li(class="active")
                a(href="/marks" class="waves-effect") Marks
            li
                a(href="https://mail.univ-lyon1.fr/owa/" class="waves-effect") Mail
            li
                a(href="https://clarolineconnect.univ-lyon1.fr/" class="waves-effect") Claroline
            li
                a(href="/viescol" class="waves-effect") School and student life

        else if teacher
            li
                .user-view.teacher
                    p(href='#name')
                        span.white-text.name=session.user.firstName + " " + session.user.lastName
                    p(href='#email')
                        span.white-text.email=session.user.email
                    a#logout
                        span.white-text Logout
            li
                a(href="/" class="waves-effect") Home
            li
                a(href="/edt" class="waves-effect") Planning
            li(class="active")
                a(href="/marks" class="waves-effect") Marks
            li
                a(href="https://mail.univ-lyon1.fr/owa/" class="waves-effect") Mail
            li
                a(href="https://clarolineconnect.univ-lyon1.fr/" class="waves-effect") Claroline
            li
                a(href="/viescol" class="waves-effect") School and student life

        else if admin
            li
                .user-view.admin
                    p(href='#name')
                        span.white-text.name=session.user.firstName + " " + session.user.lastName
                    p(href='#email')
                        span.white-text.email=session.user.email
                    a#logout
                        span.white-text Logout
            li
                a(href="/" class="waves-effect") Home
            li(class="active")
                a(href="/marks" class="waves-effect") Marks
            li
                a(href="/viescol" class="waves-effect") School and student life
            li
                a(href="/viescol" class="waves-effect") Profil Edition

    a.sidenav-trigger(href='#' data-target='slide-out')#hamburger
        i.material-icons.medium menu